@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", "Arial", sans-serif;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
